$fa-font-path: "../bower_components/components-font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/Raleway-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local('Raleway Italic'), local('Raleway-Italic'), url('../fonts/Raleway-Italic.ttf') format('truetype');
}

$main-color: #006e00;

body {
  padding: 0;
  font-family: 'Raleway';
  //-webkit-app-region: drag;
  height: 100%;
  //background-color: lighten($main-color, 70%);
  background-color: white;
}

.btn {
  transition: all .25s ease-in-out;
}

.file-name.ng-enter, .file-name.ng-leave {
  transition: all .25s ease-in-out;
}

.file-name.ng-leave.ng-leave-active, .file-name.ng-enter {
  opacity: 0;
}

.file-name.ng-enter.ng-enter-active, .file-name.ng-leave {
  opacity: 1;
}

.file-input-control {
  display: inline-block;
}

.settings-icon {
  color: lightgrey;
}

.btn-primary {
  background-color: $main-color;
  border: 1px solid $main-color;
  &:hover, &:active {
    background-color: darken($main-color, 10%);
  }
}
.btn-default {
  color: $main-color;
  background-color: white;
  border: 1px solid $main-color;
  &:hover, &:active {
    background-color: lighten($main-color, 70%);
    border: 1px solid $main-color;
  }
}

.graph {
  background-color: white;
}

.chart-container {
  //box-shadow: inset 0px 0px 154px -55px rgba(0,0,0,0.75);
  padding-top: .3em;
  border: 1px solid lightgrey;
  border-radius: 50px;
  background-color: rgba(white, .7);
}

.app-container {
  padding-top: 50px;
}

button, .btn, a {
  -webkit-app-region: no-drag;
}


.navbar, .navbar-brand {
  background-color: $main-color;
}

.navbar {
  padding-top: 1.4em;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus {
  transition: all .25s ease-in-out;
  background-color: white;//lighten($main-color, 10%);
  color: $main-color;
}

.logo, .navbar-default .navbar-nav > li > a {
  transition: all .25s ease-in-out;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  &:hover, &:active {
    background-color: lighten($main-color, 5%);
    color: white;
  }
}

.navbar-default .navbar-brand, .navbar-default .navbar-text {
  color: white;
  &:hover {
    color: white;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.popover-title {
  font-size: 30px;
}
.popover-content {
  font-size: 24px;
}

#energyMapDiv{
  position: relative;
  left: 0px;
  top:0px;
  width: 1586px;
  height: 975px;
}

#mapGradientMeter{
  position:absolute;
  left: 20px;
  top: 20px;
}

#meterTopLabel {
  position:absolute;
  left: 130px;
  top: 20px;
  font-size: 24px;
  color: white;
  background-color: $main-color;
}

#meterBotLabel{
  position:absolute;
  left: 130px;
  top: 915px;
  font-size: 24px;
  color: white;
  background-color: $main-color;
}
