$fa-font-path: "../bower_components/components-font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower

$main-color: #006e00;

body {
  padding: 0;
  -webkit-app-region: drag;
  height: 100%;
}

button, .btn, a {
  -webkit-app-region: no-drag;
}


.navbar, .navbar-brand {
  background-color: $main-color;
  color: white;
}

.navbar {
  padding-top: 1.4em;
  border: none;
}

.navbar-default .navbar-nav > .active > a {
  background-color: lighten($main-color, 5%);
  color: white;
}

.logo, .navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
