<div style="zoom: 80%">
<div ng-init="buildingBoxes = []">
  <canvas id="mapCanvas" width="1586" height="975"></canvas>
  <div style="position: relative; width: 1586px; height: 975px">
    <img src="" class="rwdimgmap" id="mapImage"
         usemap="#campusImgMap" alt="campMap">
    <map id="campusImgMap" name="campusImgMap">
      <area mappopup class="ng-binding" alt="" title="" ng-repeat="build in witenergymap.buildings"
            shape="poly"
            coords="{{build.polycoords}}"
            href="#"
            ng-click="witenergymap.buildingClick($event, build.name)" >
    </map>

    <!--Boxes for mouseover of buildings-->
    <div  ng-repeat="box in buildingBoxes"
          popover-trigger="mouseenter"
          popover-placement="right"
          uib-popover="Energy Usage: {{box.sqftUsage}} kwh/sqft| Sqft: {{box.sqft}}"
          popover-title="{{box.name}}"
          uib-popover-template="buildingpop.html"
          ng-style="{
          position: 'absolute',
          left: box.left + 'px',
          top: box.top + 'px',
          width: (box.right - box.left) + 'px',
          height: (box.bot - box.top) + 'px'}">
    </div>


  </div>
</div>
</div>


